.navbar{
    display:flex;
    align-items: center;
    justify-content: center;
}
.nav-menu{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
    font-size: 30px;
    margin-top: 10px;
    transition: 0.3s;
}
.nav-menu l1:hover{
    transform: scale(1.1);
    cursor: pointer;
}
